*{
    --orange-color: #ff9500;
    --grey-color: #505050;
    --black-color: #1c1c1c;
    --light-grey: #d4d4d2;
    --white-color: white; 
    background-color: black;
    color: var(--white-color);
}
.text-center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.item-end{
    justify-content: end;
}

.grey{
    background-color: var(--grey-color);
    border: 2px solid white;
}
.orange{
    background-color: var(--orange-color);
    border: 2px solid white;
}
.black{
    background-color: var(--black-color);
    border: 2px solid white;
}
.light-grey{
    background-color: var(--light-grey);
    border: 2px solid white;
}
.white{
    border: 2px solid white;
    background-color: white;
    color: black;
}